pipeline/simpleQuery1.json
{
   "name" : "simpleQuery1",
   "type" : "Microsoft.DataFactory/factories/pipelines",
   "apiVersion" : "2018-06-01",
   "properties" : {
      "activities" : [ {
         "name" : "CopyData_STAGE_TBL_1",
         "type" : "Copy",
         "typeProperties" : {
            "source" : {
               "type" : "AzureSqlSource"
            },
            "sink" : {
               "type" : "AzureSqlSink"
            },
            "dataIntegrationUnits" : 0
         },
         "inputs" : [ {
            "referenceName" : "DS_DataVault_001",
            "parameters" : "{\"schemaName\":\"@variables('MI_SRC_SCHEMA_demo')\",\"tableName\":\"@variables('MI_SRC_TBL_STAGE_TBL_1')\"}",
            "type" : "DatasetReference"
         } ],
         "outputs" : [ {
            "referenceName" : "DS_StageVault_001",
            "parameters" : "{\"schemaName\":\"@variables('STG_SRC_SCHEMA_demo')\",\"tableName\":\"@variables('STG_SRC_TBL_STAGE_TBL_1')\"}",
            "type" : "DatasetReference"
         } ],
         "dependsOn" : [ {
            "activity" : "StredProcSTAGE_TBL_1",
            "dependencyConditions" : [ "Succeeded" ]
         } ]
      }, {
         "name" : "StredProcSTAGE_TBL_1",
         "type" : "SqlServerStoredProcedure",
         "typeProperties" : {
            "dataIntegrationUnits" : 0,
            "storedProcedureParameters" : "{\"SCHEMA_NAME\":{\"type\":\"String\",\"value\":\"@variables('STG_SRC_SCHEMA_demo')\"},\"TABLE_NAME\":{\"type\":\"String\",\"value\":\"@variables('STG_SRC_TBL_STAGE_TBL_1')\"}}"
         }
      }, {
         "name" : "CopyData_stage_tbl",
         "type" : "Copy",
         "typeProperties" : {
            "source" : {
               "type" : "AzureSqlSource"
            },
            "sink" : {
               "type" : "AzureSqlSink"
            },
            "dataIntegrationUnits" : 0
         },
         "inputs" : [ {
            "referenceName" : "DS_StageVault_001",
            "parameters" : "{\"schemaName\":\"@variables('STG_TGT_SCHEMA_demo')\",\"tableName\":\"@variables('STG_TGT_TBL_STAGE_TBL')\"}",
            "type" : "DatasetReference"
         } ],
         "outputs" : [ {
            "referenceName" : "DS_CustomerVault_001",
            "parameters" : "{\"schemaName\":\"@variables('MI_TGT_SCHEMA_demo')\",\"tableName\":\"@variables('MI_TGT_TBL_STAGE_TBL')\"}",
            "type" : "DatasetReference"
         } ],
         "dependsOn" : [ {
            "activity" : "simpleQuery",
            "dependencyConditions" : [ "Succeeded" ]
         } ]
      }, {
         "name" : "simpleQuery",
         "type" : "ExecuteDataFlow",
         "policy" : {
            "timeout" : "7.00:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "dataflow" : {
               "type" : "DataFlowReference",
               "referenceName" : "simpleQuery"
            },
            "dataIntegrationUnits" : 0
         },
         "dependsOn" : [ {
            "activity" : "CopyData_STAGE_TBL_1",
            "dependencyConditions" : [ "Succeeded" ]
         } ]
      } ],
      "variables" : "{\"STG_SRC_TBL_STAGE_TBL_1\":{\"defaultValue\":\"SRC_STAGE_TBL_1_STAGE_TBL\",\"type\":\"String\"},\"MI_TGT_SCHEMA_demo\":{\"defaultValue\":\"demo\",\"type\":\"String\"},\"STG_TGT_SCHEMA_demo\":{\"defaultValue\":\"TGT_demo\",\"type\":\"String\"},\"MI_TGT_TBL_STAGE_TBL\":{\"defaultValue\":\"STAGE_TBL\",\"type\":\"String\"},\"MI_SRC_SCHEMA_demo\":{\"defaultValue\":\"demo\",\"type\":\"String\"},\"STG_TGT_TBL_STAGE_TBL\":{\"defaultValue\":\"TGT_STAGE_TBL_1_STAGE_TBL\",\"type\":\"String\"},\"MI_SRC_TBL_STAGE_TBL_1\":{\"defaultValue\":\"STAGE_TBL_1\",\"type\":\"String\"},\"STG_SRC_SCHEMA_demo\":{\"defaultValue\":\"SRC_demo\",\"type\":\"String\"}}"
   },
   "dependsOn" : [ "[concat(variables('factoryId'), '/dataflows/simpleQuery')]" ]
}